#bg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 水平居中 */
    /* background: pink; */
}

.row1 .orb1,.row1 .orb2 {
    position: absolute;
    width: 60px;
    height: 60px;
    /* background-color: purple; */
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -30px;
}

.row1 .orb2 {
    margin-top: -280px;
    margin-left: 500px;
}

.row1 div,.row2 div,.row3 div {
    background-image: -webkit-linear-gradient(top,#fff,#dedede);
    border-radius: 50%;
}


.row2 .orb1,.row2 .orb2,.row2 .orb3 {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background-color: purple; */
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -500px;
}

.row2 .orb2 {
    margin-top: -180px;
    margin-left: 500px;
}

.row2 .orb3 {
    margin-top: 50px;
    margin-left: 0;
}


.row3 .orb1,.row3 .orb2{
    position: absolute;
    width: 500px;
    height: 500px;
    /* background-color: purple; */
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
}